@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #3f9ca7;
  --color-base-100: #0b0b0b;
  --color-base-200: #3C3939;
  --color-base-300: #1c1c1c;
  --color-accent: #73737380;
  --color-primary-content: #ffffffb3;
  --color-base-content: #ffffff;
  --background: #ffffff;
  --foreground: #171717;
  --gradient-color: #8350e8;
  --sparkles-color: #ffffff;
  --text-shadow-xl: 0 35px 35px rgb(0, 0, 0 / 0.25);
}

@theme {
  --text-shadow-main: 0 0 6px  rgba(255,255,255,0.7);
}

::selection {
  color: black;
  background: var(--color-accent);
}

/* @theme inline { */
/*   --color-background: var(--background); */
/*   --color-foreground: var(--foreground); */
/*   --font-sans: var(--font-geist-sans); */
/*   --font-mono: var(--font-geist-mono); */
/* } */

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: "Outfit Variable";
}
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
