@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary:#021814;
  --color-base-100:#0b0b0b;
  --color-base-200:#3C3939;
  --color-accent:#73737380;
  --color-primary-content:#ffffffb3;
  --color-base-content:#ffffff;
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline { */
/*   --color-background: var(--background); */
/*   --color-foreground: var(--foreground); */
/*   --font-sans: var(--font-geist-sans); */
/*   --font-mono: var(--font-geist-mono); */
/* } */

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: "Outfit Variable";
}
